/* TRUNCATE WORDS */
p {
	width: 100px; /* optional */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: elipsis;
	
}


/* CSS HOVER */
/*If the element is directly inside the container:*/
#container:hover > #cube { background-color: yellow; }

/*If the element is next to (after containers closing tag) the container:*/
#container:hover + #cube { background-color: yellow; }

/*If the element is somewhere inside the container:*/
#container:hover #cube { background-color: yellow; }

/*If the element is a sibling of the container:*/
#container:hover ~ #cube { background-color: yellow; }

/* MARGIN AND PADDING INLINE */
body {
	padding-inline: 1rem; /* shorthand for padding-inline-start, padding-inline-end */
	/* padding: 0 1rem */
	margin-inline: 1rem;  /* shorthand for margin-inline-start, margin-inline-end */
	/* margin: 0 1rem */
}

/* RESPONSIVE DESIGN */

/* types of Media Queries*/
@media (min-width: 500px){
	body {
		background: black;
	}
}
/* window with min-width */

@media screen and (min-width: 500px){
	body {
		background: black;
	}
}
/* device with screen and window with min-width */

@media only screen and (min-width: 500px){
	body {
		background: black;
	}
}
/* this one is not important */

@media (orientation: portrait) {
	/* if width is smaller than height */
	body {
		background: black;
	}
}

@media (min-aspect-ratio: 1 / 1) {
	/* if width is greater than height */
	body {
		background: purple;
	}
}

@media (max-aspect-ratio: 1 / 1) {
	/* if height is greater than width */
	body {
		background: purple;
	}
}

@media (width > 500px) {
	body {
		background: orange;
	}
}

@container (width >= 900px){
	.sidebar-container {
		background: purple;
	}
}

/*
====
GRID
====
*/

.container {
	display: grid;
	place-items: center;
}

.box {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); or auto-fill
	grid-auto-rows: 1fr;
}

/* CLAMP */
.box {
	width: clamp(200px, 40%, 500px);
	width: min();
	width: max();
}

/* ASPECT RATIO */
.container {
	height: 500px;
	aspect-ratio: 1 / 1;
}

/* INSET */
.container {
	inset: 0;
	/* top, right, bottom, left = 0 */
}

/* OBJECT FIT */
img {
	object-fit: cover;
	width: 100%;
}

/* ANGLES CONTAINER WITH BAVCKGROUND COLOR */
.section {
    position: relative;
    height: 200px;
    border: 1px solid black;
    margin: 1rem 0;
    isolation: isolate;
}

.section::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    transform: skewY(-5deg);
    background: linear-gradient(45deg, rgb(255, 45, 45), rgb(37, 37, 255), rgb(59, 255, 59));
}

/* OVERSCROLL-BEHAVIOR */

html, body {
	overscroll-behavior: none;
/* auto/contain/none	*/
}

/* DIFFERENCE BETWEEN HEIGHT: 100VH AND HEIGHT: 100% */
.nav-container {
	position: fixed;
	height: 100%;
/* height of the container */
}

.nav-container {
	position: fixed;
	height: 100vh;
/* height of the device */
}
